@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    box-sizing: border-box; 
    
}

body{
    margin:0; 
    font-family:  open sans ;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: rgb(255, 255, 255);  
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

  .logo{
    flex:10%;
    margin-left: 2%;
    display: flex;
    padding: 16px;
    /* border: 1px solid rgb(255, 0, 0); 
    
    */
  }  
  
/* .logo h1{
    font-family:comfortaa;
    color: rgb(88, 0, 78);
    font-size: 15px;
} */
.menu{
    flex: 70%;
    /* border:1px solid rgb(115, 255, 0); */
    text-align:right;
    padding: 20px; 
} 

.menu a{
    color: #CD1844;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    /* box-shadow: 1px 0px 0px 0px rgba(31, 21, 21, 0.150),
    2px 2px 6px 0px rgba(0, 217, 255, 0.400),
    2px 2px 0px 0px rgba(247, 222, 0, 0.200),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658),
    2px 2px 6px 2px rgba(255, 0, 0, 0.200) inset;
  transform: translate(0px, 0px); */
}

.menu a:hover{
   color:  #CD1844;;
   border-top: 4px solid #4583C4
   ;    
}

#botao{

    
    padding: 10px 25px;
    color: rgb(249, 255, 255);
    border-radius: 5px;
    margin-right:10%;
    margin-left:5%;
    background:#CD1844    ;
    box-shadow: 1px 1px 0px 0px rgba(31, 21, 21, 0.658),
    1px 1px 0px 0px rgba(31, 21, 21, 0.658),
    1px 2px 0px 0px rgba(31, 21, 21, 0.658),
    1px 2px 0px 0px rgba(31, 21, 21, 0.658),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658) inset;
}  

  #botao:hover {
    border: none;
    background:#ff4372; 
    transform: translate(-3px, -3px);
    box-shadow: 1px 1px 1px 2px rgba(31, 21, 21, 0.658),
      2px 2px 1px 0px rgba(31, 21, 21, 0.658),
      3px 3px 1px 0px rgba(31, 21, 21, 0.658),
      4px 4px 1px 0px rgba(31, 21, 21, 0.658),
      0px 0px 0px 0px rgba(31, 21, 21, 0) inset;
  
    transition: all 0.2s;
    

  }

  #botao:active{
    /* background-color:rgba(10, 82, 92, 0.295); */
    box-shadow: 0px 0px 0px 0px rgba(31, 21, 21, 0.658),
      0px 0px 0px 0px rgba(31, 21, 21, 0.658),
      0px 0px 0px 0px rgba(31, 21, 21, 0.658),
      0px 0px 0px 0px rgba(31, 21, 21, 0.658),
      2px 2px 6px 2px rgba(31, 21, 21, 0.658) inset;
    transform: translate(0px, 0px);
    color: #ffffff;

  }

  header{   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left:5%;
    margin-right:5%;
    padding: 5%;
    text-align: center;
      }




.headline h2{
    font-size: 20px;
    padding: 0;
    margin: 0;
   
} 

.headline p{
    color: #ffffff;
    

}
.contact-btn{ 
    display: inline-block;  
    background:#CD1844;
    padding: 20px;
    color: antiquewhite;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

   
    /* box-shadow: 1px 1px 0px 0px rgba(31, 21, 21, 0.658),
    1px 1px 0px 0px rgba(31, 21, 21, 0.658),
    1px 2px 0px 0px rgba(31, 21, 21, 0.658),
    1px 2px 0px 0px rgba(31, 21, 21, 0.658),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658) inset;
        */
}

.contact-btn:hover{
    background: #ff4372; 
    box-shadow: 1px 1px 1px 2px rgba(31, 21, 21, 0.658),
      2px 2px 1px 0px rgba(31, 21, 21, 0.658),
      3px 3px 1px 0px rgba(31, 21, 21, 0.658),
      4px 4px 1px 0px rgba(31, 21, 21, 0.658),
      0px 0px 0px 0px rgba(31, 21, 21, 0) inset;
  
    transition: all 0.2s;




}   

.contact-btn:active{

    box-shadow: 0px 0px 0px 0px rgba(31, 21, 21, 0.658),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658),
    0px 0px 0px 0px rgba(31, 21, 21, 0.658),
    2px 2px 6px 2px rgba(31, 21, 21, 0.658) inset;
  transform: translate(0px, 0px);
  color: #ffffff;
}



/* 
.img-headline{ 
    margin-right: 10%;
    flex: 40%;
    /* border:1px solid pink; 
    text-align: center;
}

*/

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left:5%;
    margin-right:5%;
    padding: 5%;
    text-align: center;
    /* width: 90%; */
    

}

section h2{
    width: 100%;
    font-size: 50px;
    font-family:  open sans ;
    font-weight: bold;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}
.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #CD1844;
    border-radius: 10px;
    cursor: pointer;


}
.card:hover{

    background: #4583C4;
    color: aliceblue;
    padding: 40px;
    box-shadow: 1px 1px 1px 2px rgba(31, 21, 21, 0.336),
      2px 2px 1px 0px rgba(31, 21, 21, 0.150),
      3px 3px 1px 0px rgba(31, 21, 21, 0.200),
      2px 4px 1px 0px rgba(31, 21, 21, 0.200),
      0px 0px 0px 0px rgba(31, 21, 21, 0) inset;
  
    transition: all 0.2s;
}  

.texto-oculto{
    display: none;
}   
.card:hover img{
display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    text-align:center;
    height: 100px;
    background-color: #CD1844;
    
    justify-content: center;
    row-gap: 10px;
    align-items: center;


}

/* .logo-rodape{
    padding: 50px;
    
} */

.agencia{
    font-family:  open sans ;
   /* color: rgb(88, 0, 78); */
    font-size: 34px;
   
}


.whats{
    position: fixed;
    bottom: 15px;
    right: 15px;
    animation: up-down 5s infinite ease-in-out alternate;
  
}

@keyframes up-down{
    from{
      transform: translatey(10px);
    }
    to{
      transform: translatey(-500px);
    }

  }
  

   
